@using ITBlog.Presentation.Extensions
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="~/style.css" type="text/css" />
	<link rel="stylesheet" href="~/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="~/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="~/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- Document Title
	============================================= -->
	<title>ITBlog</title>

</head>

<body class="stretched">
	@await Html.RenderAction("GetNavigationCategories","Category")

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Page Title
		============================================= -->
		<section data-animate="fadeIn" id="page-title" class="page-title-parallax page-title-dark page-title-right include-header" style="padding: 350px 0; background-image: url('https://res.cloudinary.com/dndkzixum/image/upload/v1669654190/Content/Untitled_2000_1293_px_1_wfby2z.png');">

			<div class="container clearfix">
				<h1 data-animate="fadeIn" data-delay="1000">Nazım ÖZKAN</h1>
				<span data-animate="fadeIn" data-delay="2000">Software Developer</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			@RenderBody()
		</section><!-- #content end -->
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="~/js/jquery.js"></script>
	<script src="~/js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="~/js/functions.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>