@using ITBlog.Presentation.Extensions
@{
    ViewData["Title"] = "Home Page";
}

<div class="row gutter-40 col-mb-80">
    <div class="postcontent col-lg-9">
        @await Html.RenderAction("GetPosts","Post", new {place = "HomePage"})
    </div>
    <div class="sidebar col-lg-3">
        @await Html.RenderAction("GetHomeRightSiderBar","Home")
    </div>
</div>